*.diff
*.fa
*.fai
*.gb
*.gbk
*.gff
*.gff.gene
*.log
*.maker.output
*.orig
*.png
NC_021456.*
plastids
????-??-??T??:??

# BWA
*.bam
*.bai
*.sam
*.fa.amb
*.fa.ann
*.fa.bwt
*.fa.pac
*.fa.sa

# tbl2asn
*.discrep
*.fixedproducts
*.fsa
*.gbf
*.sqn
*.val
